
.blogpost{
    text-align: justify;
    text-justify: inter-word;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

.blogpost img{
    border: 1px solid black !important;
}

.container .credit {
    margin: 0px !important;
}

.avatar-box {
    text-align: center;
    background-color: black;
    color: white !important;
}

.avatar-box a {
    color: lightblue !important;
}

.avatar-box a:hover {
    color: white !important;
}

.avatar-box img {
    border: 1px solid white !important;
}

.sidebar-module-inset{
  border: 1px solid black;
}
